html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** END OF CSS RESET **/

body {
    --white-color: #f3f4fb;
    --black-color: black;
    --blue-color: #5a18ee;
    --light-purple-color: #7f7afc;
    --light-violet-color: #8c54f4;
    --darker-violet-color: #713dc3;
    --dark-violet-color: #5d2db0;
    font-family: Roboto, sans-serif;
    background-color: rgb(239, 245, 239);
}

#form {
    max-width: 100%;
   
    padding: 14px;
    background-color: rgb(15, 14, 14)
}

#message-input {
    flex-grow: 1;
    margin-top: 1px;
    margin-bottom: 3px;
    width: 80%;
    border-radius: 2rem;
    margin: 0.25rem;
    background-color: var(--white-color);
}

#message-input:focus {
    outline: none;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

  .css-qmypsf.large {
    font-size: 13px;
    padding-top: 10px;
    right: 28px;
    bottom: 23px;
    padding-bottom: 10px;
  }

  .css-qmypsf {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    appearance: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: rgb(44, 93, 203);
    border: none;
    border-radius: 65px;
    box-shadow: rgb(207 207 207 / 67%) 0px 2px 4px 0px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 700;
    line-height: 0;
    padding: 6px 16px;
    width: 65px;
    height: 65px;
    align-self: center;
    cursor: pointer;
    letter-spacing: 0.6px;
    outline: 0px;
    transition: background 0.2s ease 0s, border-color 0.2s ease 0s, color 0.2s ease 0s;
    position: fixed;
  }

.chat {
    /* display: none; */
    position: fixed;
    height: 70%;
    width: 40%;
    bottom: 45px;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }


.box {
    height: 80%;
    background-color:#666666;
    width: 100%;
    overflow-y: scroll;
}
.button {
    background: var(--light-violet-color);
    border-bottom: 4px black;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: var(--white-color);
    font: inherit;
}

.button:hover {
    background: var(--darker-violet-color);
}

.button:active {
    background: var(--dark-violet-color);
}

#messages {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 60px 10px;
}

.message {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    word-wrap: break-word;
    max-width: calc(100% - 40px - 32px);
    margin-bottom: 10px;
}
 .message_received {
    word-wrap:break-word;
    background: rgb(81, 147, 213);
    color: #ffffff;
    border-radius: 3px;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    left: 340px;
    width: 220px;
    float: left;
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
    border-top-left-radius: 0;
    margin-bottom: 10px;
    margin-top: 5px;
    position: relative;
}

.message_sent {
    background: #01345b;
    float: right;
    color: #ffffff;
    border-radius: 3px;
    padding: 12px;
    font-size: 15px;
    font-weight: 400;
    width: 200px;
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
    border-top-right-radius: 0;
    position: relative;
    left: -6px;
    margin-bottom: 10px;
    margin-top: 5px;
    word-wrap: break-word;
}

.header {
    background-color: var(--black-color);
    color: var(--white-color);
    text-align: center;
    padding: 12px;
  
}

.title {
    font-size: 23px;
}

.chat.quick-replies {
    display: flex;
    align-self: flex-end;
    height: 2.5rem;
    box-sizing: border-box;
}